<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhoujianming.www.mapper.SendEmailMapper">

	<select id="getSystemParams" resultType="Map">
		SELECT * FROM system_params;
	</select>

</mapper>